-- SQL to add production_no_2 column to inline_inspection_form_master_2 table

-- Add the new production_no_2 column
ALTER TABLE inline_inspection_form_master_2 
ADD COLUMN production_no_2 TEXT;

-- Optional: Add a comment to describe the column
COMMENT ON COLUMN inline_inspection_form_master_2.production_no_2 IS 'Second part of production number field';

-- Verify the column was added (optional - you can run this to check)
-- SELECT column_name, data_type, is_nullable 
-- FROM information_schema.columns 
-- WHERE table_name = 'inline_inspection_form_master_2' 
-- AND column_name IN ('production_no', 'production_no_2')
-- ORDER BY column_name;
